@model List<ViewCita>
@{
    ViewData["Title"] = "Listar Citas";
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pruebas</title>
    <link rel="stylesheet" href="~/css/Listarpaciente.css" />
    <link rel="stylesheet" href="~/css/General.css" />
</head>

<body>
    <h1 class='tittle-text'>Citas Registradas</h1>
    <!-- Contenedor para alinear el buscador y el botón a los extremos -->
    <div class="header-container">
        <!-- Buscador -->
        <div class="search-container">
            <p>Buscar:</p>
            <input type="text" id="searchInput" placeholder="Ingrese el DNI del afiliado">
            <button onclick="searchTable()">Buscar</button>
        </div>

        <!-- Botón "Crear Cita" -->
        <a asp-action="Cita" asp-controller="Citas" asp-route-ID="0" class="crear-prueba-btn">Crear Cita</a>
    </div>
    <div class="wrap-table100">
        <div class="table100">
            <table>
                <thead>
                    <tr class="table100-head">
                        <th class="column1">ID</th>
                        <th class="column4">DNI</th>
                        <th class="column5">Fecha</th>
                        <th class="column4">Urgencia</th>
                        <th class="column5">Estado</th>
                        <th class="column5">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="column1">@item.ID</td>
                            <td class="column4">@item.DNI_Paciente</td>
                            <td class="column5">@item.Fecha</td>
                            <td class="column4">@item.FK_Urgencia</td>
                            <td class="column5">@item.FK_Estado</td>
                            <td class="column5">
                                <div class="acciones-btns">
                                    <a asp-action="DetalleCitas" asp-controller="Citas" asp-route-ID="@item.ID" class="visualizar-btn">Ver</a>
                                    <a asp-action="Cita" asp-controller="Citas" asp-route-ID="@item.ID" class="editar-btn">Editar</a>
                                    <button class="eliminar-btn">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>